<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><h1>看完这集太子妃</h1></a>
			</div>
			<div class="pages">
				<ul>
					<li><a class="active" href="index.html">主页</a></li>
					<li><a href="collection.html">收藏</a></li>
					<li><a href="friend.html">好友</a></li>
				</ul>
			</div>
			<div class="navigation">
				<ul>
					<li><a href="login.html">登录</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a class="active" href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<div class="header-bottom">
            <div class="type">
				<h5>Article Types</h5>
			</div>
			<span class="menu"></span>
			<div class="list-nav">
				<ul>
					{% for tag in tags %}
    					<li><a href="/tags/{{tag.id}}">{{ tag.name }}</a></li>
					{% endfor %}
						<li><a href="Tags.html">More</a></li>                                                                 
				</ul>
			</div>
			<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".list-nav" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->

			<div class="clearfix"></div>
        </div>
	</div>
    
	<div class="container">
		<div class="content">
			<div class="col-md-7 content-left">
				<h5 class="head">最新推送</h5>

				<!--这里填充4个最新问题-->
				{% for problem in problems %}
				<div class="article">	
					<h6>
						{% for tag in problem.tags.all %}
        					<button><a href="/tags/{{tag.id}}">{{ tag }}</a></button>
        				{% endfor %}
					</h6>
					<a class="title" href="problems.html?proid={{problem.id}}">{{ problem.title }}</a>
					<a href="problems.html?proid={{problem.id}}"><img style="width:600px;height:255px" src="/media/{{problem.problem_image}}" alt="" /></a>
					<p>{{ problem.description }} </p>
					
				</div>
				{% endfor %}
			</div>



			<!--这里填充四个热门问题-->
			<div class="col-md-5 content-right">
			<div class="content-right-top">
				<h5 class="head">热门</h5>	
				{% for problem in problems %}
				<a href="problems.html?proid={{problem.id}}">
					<div class="editor text-center">
						<h3>{{ problem.title }}</h3>
						<p>{{ problem.description }}</p>
						<label>Up: {{ problem.up }}</label>
						<span></span>
					</div>
				</a>
				{% endfor %}
				</div>





				<div class="editors-pic-grids">
					<h5>精选</h5>

					<!--这里填充四个精选问题-->
					{% for problem in problems %}
					<div class="editors-pic">
						<div class="e-pic">
							<a href=href="problems.html?proid={{problem.id}}"><img style="width:160px;height:132px" src="/media/{{problem.problem_image}}" alt="" /></a>
						</div>
						<div class="e-pic-info">
							<a href=href="problems.html?proid={{problem.id}}">{{ problem.title }}</a>
							<span></span>
							<label>Up: {{ problem.up }}</label>
						</div>
						<div class="clearfix"></div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="clearfix"></div>
			
		
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-3 footer-links">
					<h4>Other pages and things</h4>
					
				</div>
				<div class="col-md-3 footer-links span_66">
			
				</div>
				<div class="col-md-3 footer-links">
					<h4>Relevant Articles</h4>
				
				</div>
				<div class="col-md-3 footer-links">
					<h4>Other pages and things</h4>
				
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>